body {
    background-color: white;
    font-family: Georgia;
}

h2 {
    font-weight:bold;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.headerBackdrop {
    background-color: #feaa14;
    padding:1%;
}
.headerBorderSpacing{
    padding:0.5%;
}

a {
    background-color: #feaa14;
    color: blue;
    padding: 5% 7.5%;
}
a:hover{
    background-color: lightgrey;
}

a:active{
    background-color: white;
}