body {
    background-color: #85fffb;
    font-family: Georgia;
    margin-left: 10%;
    margin-right: 10%
}

h2 {
    font-weight:bold;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.headerBackdrop {
    background-color: #feaa14;
    padding:1%;
}
.headerBorderSpacing{
    padding:0.5%;
}