body {
    background-color: white;
    font-family: Georgia;
}

h2 {
    font-weight:bold;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}

.headerBackdrop {
   background-color: #feaa14;
   padding-top:1%;
   padding-bottom:0%;
}
.headerBorderSpacing{
    padding-bottom:0%;
    padding-top:1%;
}

a {
    background-color: #feaa14;
    color: blue;
    padding: 5% 7.5%;
}
a:hover{
    background-color: lightgrey;
}

a:active{
    background-color: white;
}

#specialImage{
    width:97.43%;
}

#imgLink {
    padding: 0%;
}

#realImage{
    width:45%;
}